body {
  background-color: #db91a0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 48px;
  margin-top: 20px;
  color: #6b4950;
}

img {
  width: 300px;
  border-radius: 8px;
  border: 5px solid #6b4950;
}
